body {
  background-color: grey;
  display: grid;
  height: 100vh;
  align-content: center;
  justify-content: center;
  grid-template-rows: 1fr 3fr 0fr;
}
#container {
  display: grid;
  height: 50vh;
  width: 50vh;
  background-color: white;
  border-style: solid;
  grid-row-start: 2;
  border-color: black;
}

.gridSquares {
  border-style: solid;
  border-color: black !important;
}

.color {
  background-color: blue;
}
.buttonStyles {
  grid-row-start: 1;
  height: 20px;
  width: 80px;
}
