body {
  background-color: grey;
  display: grid;
  height: 100vh;
  align-content: center;
  justify-content: center;
}
#container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 50vh;
  width: 50vh;
  background-color: white;
  border-style: solid;
}

.gridSquares {
  border-style: solid;
}

.color {
  background-color: blue;
}
